<ion-view view-title="Contact Us">
  <ion-content>

    <div class="card">
        <div class="item item-divider">
            Location Information
        </div>
        <div class="item item-text-wrap">
            <h2>Our Address</h2>
            <h2>121, Clear Water Bay Road</h2>
            <h2>Clear Water Bay, Kowloon</h2>
            <h2>HONG KONG</h2>
            <h2 class="ion-ios-telephone"> +852 1234 5678</h2>
            <h2 class="ion-printer"> +852 8765 4321</h2>
            <h2 class="ion-email"><a href="mailto:confusion@food.net"> confusion@food.net</a></h2>
        </div>
        <div class="button-bar">
            <a class="button icon-left ion-android-call button-positive">Call</a>
            <a class="button icon-left ion-social-skype button-calm">Skype</a>
            <a class="button icon-left ion-ios-email button-balanced">Email</a>
        </div>
      </div>
      
  </ion-content>
</ion-view>